html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  /* justify-content: center; */
}


canvas {
  display: block;
  max-width: 360px;     /* scale the canvas to fit phone width */
  height: auto;     /* keep aspect ratio */
  max-height: 700px;/* don't exceed screen height */
}
