html, body {
  margin: 0;
  padding: 0;
  background-color: white;
  /* justify-content: center; */
}


canvas {
  display: block;
  width: 100vw;     /* scale the canvas to fit phone width */
  height: auto;     /* keep aspect ratio */
  max-height: 100vh;/* don't exceed screen height */
}
